/* color variables for the dark/light modes*/
$color-light: #000000;
$background-color-light: #ffffff;
$color-dark: #ffffff;
$background-color-dark: #292c35;

@mixin main($foreground, $background) {
	body {
		/* your standard setting for the entire DOC */
		font-family: "Roboto Mono", monospace;
		font-size: 16px;
		margin: 0;
		padding: 0;
		list-style: none;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		color: $foreground;
		transition-duration: 0.5s;
		background-color: $background;
	}
	/*darktheme styling */

	body.dark {
		background-color: #292c35;
	}

	body.dark {
		color: $color-dark;
	}

	.checkbox {
		opacity: 0;
		position: absolute;
	}

	.checkbox:checked + .label .ball {
		transform: translate(24px);
	}

	.label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		background-color: #111;
		height: 30px;
		width: 45px;
		border-radius: 60px;
		transform: scale(1.3);
	}

	.ball {
		background-color: #fff;
		position: absolute;
		border-radius: 50%;
		height: 30px;
		width: 30px;
		left: -4px;
		transition-duration: 0.5s;
	}
	.checkbox:checked + .label .ball {
		transform: translateX(24px);
	}

	.fa-moon {
		color: #f1c40f;
	}

	.fa-sun {
		color: #f39c12;
	}

	header {
		height: 5rem;
		display: flex;
		justify-content: space-between;
		max-width: 100%;
	}

	h1 {
		padding-right: 1rem;
	}

	.product__image {
		height: 300px;
		max-width: 250px;
	}

	main {
		max-width: 1000px;
		align-self: center;
		align-content: center;
	}

	.logo-container {
		margin-left: 50px;
		padding: 10px;
		height: min-content;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	nav {
		height: fit-content;
	}

	nav ul {
		display: flex;
		justify-content: space-evenly;
		align-content: flex-end;
		padding: 10px;
	}

	nav ul li {
		margin-right: 20px;
	}

	.frontpage___description {
		max-width: 90%;
		padding-left: 1rem;
	}

	.product-list-wrapper ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: center;
	}
	
	// ----- Css for the added items ----- 
	.created-products-container ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: center;
	}

	.created-products-container ul li {
		position: relative;
		margin-right: 1rem;
		align-self: center;
	}

	// ------ css for the added items ended ----

	hr {
		display: block;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		border-width: 1px;
	}

	ul {
		list-style: none;
	}

	button {
		border: none;
		background-color: transparent;
	}

	button:hover {
		cursor: pointer;
	}

	.product-list-wrapper ul li {
		position: relative;
		margin-right: 1rem;
		align-self: center;
	}

	.add-to-favorites {
		position: absolute;
		top: 1%;
		right: 1%;
	}

	.add-to-cart {
		position: absolute;
		bottom: 10%;
		right: 5%;
	}

	.material-icons {
		font-size: 36px;
		color: $foreground;
	}

	@media (max-width: 650px) {
		body {
			font-size: 14px;
		}

		h1 {
			font-size: 28px;
		}

		.logo-container {
			margin-left: 0.5rem;
			padding: 0;
		}

		nav ul {
			padding: 0.3rem;
		}

		nav ul li {
			margin-right: 0.5rem;
			max-height: 20px;
		}
		nav ul li:nth-last-child() {
			margin-right: 0;
		}

		.product-list-wrapper ul li {
			margin-right: 0;
		}

		.frontpage___description {
			max-width: 95%;
			padding-left: 0.7rem;
		}
	}
}
