body { 
  /* your standard setting for the entire DOC */
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
} 

header {
  height: 100px; 
  display: flex;
  justify-content: space-between;

}

.product__image {
  height: 300px;
  max-width: 250px;
}

main {
  max-width: 1000px;
  align-self: center;
}


.logo-container {
  margin-left: 50px;
  padding: 10px; 
  height: min-content;
  background-color: rgb(166, 187, 145);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  display: flex; 
  align-items: center;
  justify-content: center;
}


.icon-container {
  height: fit-content; 
  width: 450px; 
} 

.icon-container ul{
  display: flex; 
  justify-content: space-around;
  align-items: center;
}

.text-section { 
  height: 200px;
  display: flex; 
  justify-content: center;
}
.test {
  width: 1050px;
  height: 200px; 
  padding-left: 35px;
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;
}
.image-section {
  height: 287px; 
  display: flex;
  justify-content: space-evenly;
}

.product-list-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

.product-list-wrapper ul li {
  position: relative;
  margin-right: 1rem;
}

.add-to-favorites {
  position: absolute;
  top: 1%;
  right: 1%;
}

.add-to-cart {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

h4 {
  font-weight: 300;
}