/* color variables for the dark/light modes*/
.light {
  /*darktheme styling */ }
  .light body {
    /* your standard setting for the entire DOC */
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    margin: 0;
    margin-left: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: #000000;
    transition-duration: 0.5s;
    background-color: #ffffff; }
  .light body.dark {
    background-color: #292c35; }
  .light body.dark {
    color: #ffffff; }
  .light .checkbox {
    opacity: 0;
    position: absolute; }
  .light .checkbox:checked + .label .ball {
    transform: translate(24px); }
  .light .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #111;
    height: 30px;
    width: 45px;
    border-radius: 60px;
    transform: scale(1.3); }
  .light .ball {
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    left: -4px;
    transition-duration: 0.5s; }
  .light .checkbox:checked + .label .ball {
    transform: translateX(24px); }
  .light .fa-moon {
    color: #f1c40f; }
  .light .fa-sun {
    color: #f39c12; }
  .light header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    max-width: 100%; }
  .light h1 {
    padding-right: 1rem; }
  .light a:link,
  .light a:visited {
    color: #000000; }
  .light .product__image {
    height: 300px;
    max-width: 250px; }
  .light main {
    max-width: 1000px;
    align-self: center;
    align-content: center; }
  .light .logo-container {
    margin-left: 50px;
    padding: 10px;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    justify-content: center; }
  .light nav {
    height: fit-content; }
  .light nav ul {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    padding: 10px; }
  .light nav ul li {
    margin-right: 20px; }
  .light .frontpage___description {
    max-width: 90%;
    padding-left: 1rem; }
  .light .product-list-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center; }
  .light .created-products-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center; }
  .light .created-products-container ul li {
    position: relative;
    margin-right: 1rem;
    align-self: center; }
  .light hr {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px; }
  .light ul {
    list-style: none; }
  .light button {
    border: none;
    background-color: transparent; }
  .light button:hover {
    cursor: pointer; }
  .light .product-list-wrapper ul li {
    position: relative;
    margin-right: 1rem;
    align-self: center; }
  .light .add-to-favorites {
    position: absolute;
    top: 1%;
    right: 1%; }
  .light .add-to-cart {
    position: absolute;
    bottom: 10%;
    right: 5%; }
  .light footer {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .light footer h3 {
      margin: 0;
      padding: 0.5rem; }
  .light .footer-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .light .footer-list-wrapper ul {
      padding: 0;
      margin-right: 30px;
      text-align: center; }
      .light .footer-list-wrapper ul li {
        line-height: 1.2; }
  .light .payment-icons {
    display: flex;
    padding: 0; }
  .light .payment-icon {
    max-height: 30px;
    margin: 0;
    padding: 0.5rem; }
  .light .material-icons {
    font-size: 36px;
    color: #000000; }
  @media (max-width: 650px) {
    .light body {
      font-size: 14px; }
    .light h1 {
      font-size: 28px; }
    .light .logo-container {
      margin-left: 0.5rem;
      padding: 0; }
    .light nav ul {
      padding: 0.3rem; }
    .light nav ul li {
      margin-right: 0.5rem;
      max-height: 20px; }
    .light nav ul li:nth-last-child() {
      margin-right: 0; }
    .light .frontpage___description {
      max-width: 95%;
      padding-left: 0.7rem; }
    .light .footer-list-wrapper {
      flex-direction: column; }
      .light .footer-list-wrapper ul {
        margin-right: 0; }
    .light .payment-icons {
      flex-direction: column;
      align-items: center; }
    .light .payment-icon {
      margin-right: 0; } }
  @media (max-width: 530px) {
    .light .created-products-container ul {
      flex-direction: column; }
    .light .created-products-container ul li {
      margin-right: 0; } }

.dark {
  /*darktheme styling */ }
  .dark body {
    /* your standard setting for the entire DOC */
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    margin: 0;
    margin-left: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    transition-duration: 0.5s;
    background-color: #292c35; }
  .dark body.dark {
    background-color: #292c35; }
  .dark body.dark {
    color: #ffffff; }
  .dark .checkbox {
    opacity: 0;
    position: absolute; }
  .dark .checkbox:checked + .label .ball {
    transform: translate(24px); }
  .dark .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #111;
    height: 30px;
    width: 45px;
    border-radius: 60px;
    transform: scale(1.3); }
  .dark .ball {
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    left: -4px;
    transition-duration: 0.5s; }
  .dark .checkbox:checked + .label .ball {
    transform: translateX(24px); }
  .dark .fa-moon {
    color: #f1c40f; }
  .dark .fa-sun {
    color: #f39c12; }
  .dark header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    max-width: 100%; }
  .dark h1 {
    padding-right: 1rem; }
  .dark a:link,
  .dark a:visited {
    color: #ffffff; }
  .dark .product__image {
    height: 300px;
    max-width: 250px; }
  .dark main {
    max-width: 1000px;
    align-self: center;
    align-content: center; }
  .dark .logo-container {
    margin-left: 50px;
    padding: 10px;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    justify-content: center; }
  .dark nav {
    height: fit-content; }
  .dark nav ul {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    padding: 10px; }
  .dark nav ul li {
    margin-right: 20px; }
  .dark .frontpage___description {
    max-width: 90%;
    padding-left: 1rem; }
  .dark .product-list-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center; }
  .dark .created-products-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center; }
  .dark .created-products-container ul li {
    position: relative;
    margin-right: 1rem;
    align-self: center; }
  .dark hr {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px; }
  .dark ul {
    list-style: none; }
  .dark button {
    border: none;
    background-color: transparent; }
  .dark button:hover {
    cursor: pointer; }
  .dark .product-list-wrapper ul li {
    position: relative;
    margin-right: 1rem;
    align-self: center; }
  .dark .add-to-favorites {
    position: absolute;
    top: 1%;
    right: 1%; }
  .dark .add-to-cart {
    position: absolute;
    bottom: 10%;
    right: 5%; }
  .dark footer {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .dark footer h3 {
      margin: 0;
      padding: 0.5rem; }
  .dark .footer-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .dark .footer-list-wrapper ul {
      padding: 0;
      margin-right: 30px;
      text-align: center; }
      .dark .footer-list-wrapper ul li {
        line-height: 1.2; }
  .dark .payment-icons {
    display: flex;
    padding: 0; }
  .dark .payment-icon {
    max-height: 30px;
    margin: 0;
    padding: 0.5rem; }
  .dark .material-icons {
    font-size: 36px;
    color: #ffffff; }
  @media (max-width: 650px) {
    .dark body {
      font-size: 14px; }
    .dark h1 {
      font-size: 28px; }
    .dark .logo-container {
      margin-left: 0.5rem;
      padding: 0; }
    .dark nav ul {
      padding: 0.3rem; }
    .dark nav ul li {
      margin-right: 0.5rem;
      max-height: 20px; }
    .dark nav ul li:nth-last-child() {
      margin-right: 0; }
    .dark .frontpage___description {
      max-width: 95%;
      padding-left: 0.7rem; }
    .dark .footer-list-wrapper {
      flex-direction: column; }
      .dark .footer-list-wrapper ul {
        margin-right: 0; }
    .dark .payment-icons {
      flex-direction: column;
      align-items: center; }
    .dark .payment-icon {
      margin-right: 0; } }
  @media (max-width: 530px) {
    .dark .created-products-container ul {
      flex-direction: column; }
    .dark .created-products-container ul li {
      margin-right: 0; } }

.light {
  /*MODAL CONTENT*/ }
  .light .login {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .light .user-name {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px; }
  .light .user-name input {
    border: none; }
  .light .user-name label {
    border-top: 1px solid #000000; }
  .light .user-password {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px; }
  .light .user-password input {
    border: none; }
  .light .user-password label {
    border-top: 1px solid #000000; }
  .light .submit {
    display: flex;
    justify-content: center; }
  .light .submit input {
    width: 100%;
    background-color: #fdf7f7;
    border-radius: 20px; }
  .light .submit input:hover {
    color: #5fa087;
    border: 1px solid #5fa087; }
  .light .forgot-pass {
    padding-top: 18px; }
  .light .forgot-pass a {
    color: #000000;
    font-size: large; }
  .light .forgot-pass a:hover {
    color: #5fa087;
    border: 1px solid #5fa087; }
  .light .login-footer {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .light .sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; }
  .light .sign-up a {
    font-size: x-large;
    color: #101010; }
  .light .sign-up a:hover {
    color: #5fa087;
    border: 1px solid #5fa087; }
  .light hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #101010;
    height: 1px;
    margin-top: 33px; }
  .light .button {
    background-color: coral;
    padding: 1em 2em;
    color: #ffffff;
    border: 0; }
  .light .button:hover {
    background: #333; }
  .light .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); }
  .light .modal-content {
    background-color: #f4f4f4;
    margin: 0;
    width: 300px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s; }
  .light .modal-header h2,
  .light .modal-footer h3 {
    margin: 0; }
  .light .modal-header {
    background: coral;
    padding: 15px;
    color: #ffffff; }
  .light .modal-body {
    padding: 10px 20px; }
  .light .modal-footer {
    background: coral;
    padding: 10px;
    color: #ffffff;
    text-align: center; }
  .light .closeBtn {
    color: #ffffff;
    float: right;
    font-size: 30px; }
  .light .closeBtn:hover,
  .light .closeBtn:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer; }

@keyframes modalopen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  @media (max-width: 650px) {
    .light .sign-up p {
      width: 350px; } }

.dark {
  /*MODAL CONTENT*/ }
  .dark .login {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .dark .user-name {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px; }
  .dark .user-name input {
    border: none; }
  .dark .user-name label {
    border-top: 1px solid #ffffff; }
  .dark .user-password {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px; }
  .dark .user-password input {
    border: none; }
  .dark .user-password label {
    border-top: 1px solid #ffffff; }
  .dark .submit {
    display: flex;
    justify-content: center; }
  .dark .submit input {
    width: 100%;
    background-color: #fdf7f7;
    border-radius: 20px; }
  .dark .submit input:hover {
    color: #5fa087;
    border: 1px solid #5fa087; }
  .dark .forgot-pass {
    padding-top: 18px; }
  .dark .forgot-pass a {
    color: #ffffff;
    font-size: large; }
  .dark .forgot-pass a:hover {
    color: #5fa087;
    border: 1px solid #5fa087; }
  .dark .login-footer {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .dark .sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; }
  .dark .sign-up a {
    font-size: x-large;
    color: #101010; }
  .dark .sign-up a:hover {
    color: #5fa087;
    border: 1px solid #5fa087; }
  .dark hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #101010;
    height: 1px;
    margin-top: 33px; }
  .dark .button {
    background-color: coral;
    padding: 1em 2em;
    color: #292c35;
    border: 0; }
  .dark .button:hover {
    background: #333; }
  .dark .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); }
  .dark .modal-content {
    background-color: #f4f4f4;
    margin: 0;
    width: 300px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s; }
  .dark .modal-header h2,
  .dark .modal-footer h3 {
    margin: 0; }
  .dark .modal-header {
    background: coral;
    padding: 15px;
    color: #292c35; }
  .dark .modal-body {
    padding: 10px 20px; }
  .dark .modal-footer {
    background: coral;
    padding: 10px;
    color: #292c35;
    text-align: center; }
  .dark .closeBtn {
    color: #292c35;
    float: right;
    font-size: 30px; }
  .dark .closeBtn:hover,
  .dark .closeBtn:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer; }

@keyframes modalopen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  @media (max-width: 650px) {
    .dark .sign-up p {
      width: 350px; } }

.light .get-inspired-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.light .get-inspired-button {
  color: #000000;
  border: 2px solid #000000;
  font-family: "Roboto Mono", monospace;
  padding: 0.5rem 1rem; }

.light .unsplash-image-wrapper {
  padding: 1rem; }

.light .unsplash-image {
  max-width: 95%;
  max-height: 350px;
  border: 2px solid #000000; }

.light .hidden-image {
  display: none; }

.light .quote-wrapper {
  max-width: 500px; }

.light .random-quote {
  text-align: center; }

@media (max-width: 600px) {
  .light .quote-wrapper {
    max-width: 90%; } }

.dark .get-inspired-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.dark .get-inspired-button {
  color: #ffffff;
  border: 2px solid #ffffff;
  font-family: "Roboto Mono", monospace;
  padding: 0.5rem 1rem; }

.dark .unsplash-image-wrapper {
  padding: 1rem; }

.dark .unsplash-image {
  max-width: 95%;
  max-height: 350px;
  border: 2px solid #ffffff; }

.dark .hidden-image {
  display: none; }

.dark .quote-wrapper {
  max-width: 500px; }

.dark .random-quote {
  text-align: center; }

@media (max-width: 600px) {
  .dark .quote-wrapper {
    max-width: 90%; } }

.light .adminPage-container {
  display: flex;
  justify-content: center;
  border: solid, 1px, black;
  max-width: 800px; }

.light .add-product-button {
  color: #000000;
  border: 2px solid #000000;
  font-family: "Roboto Mono", monospace;
  padding: 0.5rem; }

.dark .adminPage-container {
  display: flex;
  justify-content: center;
  border: solid, 1px, black;
  max-width: 800px; }

.dark .add-product-button {
  color: #ffffff;
  border: 2px solid #ffffff;
  font-family: "Roboto Mono", monospace;
  padding: 0.5rem; }

.light .cart {
  background-color: #ffffff; }

.light .clear-cart-button {
  color: #000000;
  border: 2px solid #000000;
  font-family: "Roboto Mono", monospace;
  padding: 0.5rem; }

.light .item-total {
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  background-color: #000000;
  padding: 0.1rem 0.4rem;
  border-radius: 0.5rem; }

.light .checkout {
  color: #000000;
  border: 2px solid #000000;
  font-family: "Roboto Mono", monospace;
  padding: 0.5rem; }

.light button:active {
  transform: scale(0.9); }

.light .cart-item {
  display: flex;
  justify-content: space-around;
  padding: 10px 0; }

.light .cart-item div {
  display: flex;
  align-items: center;
  justify-content: center; }

.light .cart-item .item-info {
  flex: 1;
  border-radius: 10px;
  padding: 10px; }

.light .cart-item .item-info:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: pointer; }

.light .cart-item .item-info img {
  width: 75px;
  margin-right: 0.5rem; }

.light .cart-item .unit-price {
  flex: 1;
  font-size: 1.2rem; }

.light .cart-item .units {
  flex: 1; }

.light .cart-item .units .number {
  margin: 0 10px;
  font-size: 1.2rem; }

.light .cart-item .units .btn {
  width: 20px;
  height: 20px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer; }

.light .cart-item .units .btn:active {
  transform: scale(0.9); }

.light .cart-buttons {
  display: flex;
  justify-content: space-around; }

.light .cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 2; }

.light .cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 60%;
  height: 80%;
  padding: 2rem;
  border-radius: 2rem;
  z-index: 3;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out; }

.light .cart.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible; }

.light .cart-overlay.show {
  visibility: visible; }

@media (max-width: 500px) {
  .light .item-total {
    display: none; } }

@media (max-width: 600px) {
  .light .cart {
    padding: 0.8rem;
    width: 90%;
    height: 95%; } }

.dark .cart {
  background-color: #292c35; }

.dark .clear-cart-button {
  color: #ffffff;
  border: 2px solid #ffffff;
  font-family: "Roboto Mono", monospace;
  padding: 0.5rem; }

.dark .item-total {
  color: #292c35;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  background-color: #ffffff;
  padding: 0.1rem 0.4rem;
  border-radius: 0.5rem; }

.dark .checkout {
  color: #ffffff;
  border: 2px solid #ffffff;
  font-family: "Roboto Mono", monospace;
  padding: 0.5rem; }

.dark button:active {
  transform: scale(0.9); }

.dark .cart-item {
  display: flex;
  justify-content: space-around;
  padding: 10px 0; }

.dark .cart-item div {
  display: flex;
  align-items: center;
  justify-content: center; }

.dark .cart-item .item-info {
  flex: 1;
  border-radius: 10px;
  padding: 10px; }

.dark .cart-item .item-info:hover {
  color: #292c35;
  background-color: #ffffff;
  cursor: pointer; }

.dark .cart-item .item-info img {
  width: 75px;
  margin-right: 0.5rem; }

.dark .cart-item .unit-price {
  flex: 1;
  font-size: 1.2rem; }

.dark .cart-item .units {
  flex: 1; }

.dark .cart-item .units .number {
  margin: 0 10px;
  font-size: 1.2rem; }

.dark .cart-item .units .btn {
  width: 20px;
  height: 20px;
  color: #292c35;
  background-color: #ffffff;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer; }

.dark .cart-item .units .btn:active {
  transform: scale(0.9); }

.dark .cart-buttons {
  display: flex;
  justify-content: space-around; }

.dark .cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 2; }

.dark .cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 60%;
  height: 80%;
  padding: 2rem;
  border-radius: 2rem;
  z-index: 3;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out; }

.dark .cart.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible; }

.dark .cart-overlay.show {
  visibility: visible; }

@media (max-width: 500px) {
  .dark .item-total {
    display: none; } }

@media (max-width: 600px) {
  .dark .cart {
    padding: 0.8rem;
    width: 90%;
    height: 95%; } }
